body{
    background-color:  #e4e4e4;
}

.card-img-top:hover {
    transform: scale(1.1); /* Ajuste o valor conforme necessário */
    transition: transform 0.5s ease; /* Adiciona uma transição suave ao efeito de zoom */
  }

